.body-login {
    background-color: #eee;
    color: #444;
}

.container-login {
    margin: 50px auto;
    width: 500px;
    max-width: 95%;
}

.form-group {
    padding: 10px 0;
}

.form-group label {
    font-weight: 100;
}
